.dashboard-animate {
  animation: dashFade 0.9s ease forwards;
  opacity: 0;
  transform: translateY(20px) scale(0.98);
  filter: blur(6px);
}


@keyframes dashFade {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0.98);
    filter: blur(6px);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
    filter: blur(0);
  }
}
